* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-top: -50px;
    padding-top: 70px;
    position: relative;
    margin-bottom: 0px;
}

header h1 {
    background-color: #2b3c4e;
    margin-top: -50px;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: #33485e;
    height: 120px;
    width: 100%;
    z-index: -1;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
}

#sortSelect {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.movie-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.movie-poster {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.movie-info {
    padding: 15px;
    text-align: center;
}

.movie-title {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #2c3e50;
    font-weight: bold;
}

.movie-release,
.movie-rating {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.pagination button {
    padding: 10px 20px;
    border: 1px solid #3498db;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:hover:not(:disabled) {
    background-color: #2980b9;
}

.pagination button:disabled {
    background-color: #3498db;
    border-color: #3498db;
    color: white;
    cursor: not-allowed;
}

#pageInfo {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .controls {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        z-index: 10;
    }
    
    #searchInput {
        width: 100%;
        max-width: 300px;
    }

    .pagination {
        flex-direction: column;
        gap: 10px;
    }
}